@model CourseDetailsViewModel

@{
    ViewData["Title"] = Model.Name;
}

<h1>@ViewData["Title"]</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">Lessons</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           asp-controller="Courses"
           asp-action="Edit"
           asp-route-id="@Model.CourseId">
            Settings
        </a>
    </li>
</ul>
<br />
<p class="float-right">
    <a asp-controller="Lesson"
       asp-action="Create"
       asp-route-returnurl="@(Context.Request.Path+Context.Request.QueryString)"
       class="btn btn-primary">Create new lesson</a>
</p>


<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th style="width:100px;"></th>
        <th style="width:100px"></th>
    </tr>
</table>